<div class="home-container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-xl-3 col-lg-4">
                <div class="text-center">
                    <img alt="Angular" class="img-fluid home-logo" src="assets/img/angular.svg" />
                </div>
            </div>
            <div class="col-xl-9 col-lg-8 home-text">
                <h1 class="home-text-big">Smart Meter</h1>
                <p class="lead">
                  Software de Administración de <strong>Edificios Inteligente</strong>
                </p>
            </div>
        </div>
    </div>
</div>
